.card {
    background-color: #f7f1eb;
    width: 400px;
    height: 375px;
  }
  
.title {
    text-align: center;
}

.content {
    padding-left: 20px;
    padding-right: 20px;
}

.card img{
    padding: 0px 25px;
}

.card:hover {
    border-style: solid;
    border-width: 1px;
}