.home {
    text-align: center;
    height: calc(100vh-60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home h1{
    font-size: 48px;
}

.home p{
    font-size: 48px;
}

.home img {
    border-radius: 50%;
}

.links {
    padding: 50px;
}

.links a{
    padding: 15px 10px;
}

.links img{
    height: 100px;
    width: 100px;
}