.navbar {
    background-color:darkblue;
    height: 60px;
    padding: 0px 10px;
    display: flex;
    align-items: center;
}

.navbar a {
    text-decoration: none;
    color: white;
    padding: 0px 10px;
    font-size: 20px;
}

.logolink {
    flex-grow: 1;
}